<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h1><%= link_to 'index' ccsf_rails_index_path %><h1>
<h1><%= link_to 'about' ccsf_rails_about_path %></h1>
<h1><%= link_to 'links' ccsf_rails_links_path %></h1>
