<h1>CcsfRails#index</h1>
<h2>First Rails Application</h2>
<h3>January 31, 2014</h3>
<h4>Index</h4>
<p>Find me in app/views/ccsf_rails/index.html.erb</p>
<h1><%= link_to 'welcome', welcome_index_path %></h1>
<h1><%= link_to 'about', ccsf_rails_about_path %></h1>
<h1><%= link_to 'links', ccsf_rails_links_path %></h1>
