<h1>CcsfRails#links</h1>
<p>Find me in app/views/ccsf_rails/links.html.erb</p>
<p><%= link_to 'index', ccsf_rails_index_path %></p>
<p><%= link_to 'about', ccsf_rails_about_path %></p>
<p><%= link_to 'welcome', welcome_index_path %></p>
